$black: #0e0d0d;
$white: #c7c5c5;

body {
    background-color: $black;
    color: $white;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px;
}

.search-breeds {
   border:5px solid red;
}

.upload-image {
    border: 5px solid greenyellow;
}

.results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 20px;

    .cat {
        background-color: hotpink;
        padding: 20px;
        &__name {
            color: $white;
            font-size: 32px;
        }
        &__description {
            color: $white;
            font-size: 18px;
        }
    }
}